:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-darkblue: hsl(229, 57%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: "Raleway";
  background-image: url(https://firebasestorage.googleapis.com/v0/b/fylo-data-storage.appspot.com/o/bg-mobile.png?alt=media&token=c3609436-bb15-4184-a547-473f17a3426d);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--pale-blue);
}

main .main_fylo-container {
  width: 85%;
  margin: 150px 0 10px 0;
  padding: 40px;
  background-color: var(--dark-blue);
  border-radius: 10px 90px 10px 10px;
}

.fylo-icon-container {
  display: flex;
  margin-top: 25px;
}

.fylo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--very-darkblue);
  border-radius: 10px;
}

main .main-datastorage-container {
  position: relative;
  width: 85%;
  margin: 10px 0 150px 0;
  padding: 30px 30px 50px;
  text-align: center;
  background-color: var(--dark-blue);
  border-radius: 10px;
}

.total-storage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 10px 0;
  padding: 3px;
  background-color: var(--very-darkblue);
  border-radius: 12px;
}

.used-storage {
  display: flex;
  justify-content: flex-end;
  width: 81.5%;
  height: 19px;
  padding: 2px;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  /* border: 1px solid red; */
  border-radius: 9px;
}

.point-used-storage {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.datastorage-capacity {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.free-datastorage-info {
  position: absolute;
  right: calc(50% - 85px);
  bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 65px;
  padding: 20px 12px;
  background-color: white;
  color: var(--grayish-blue);
  font-weight: 700;
  border-radius: 10px;
}

.number-data {
  margin-right: 10px;
  color: var(--very-darkblue);
  font-size: 40px;
}

@media screen and (min-width: 800px) {
  main {
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    background-color: var(--very-darkblue);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fylo-data-storage.appspot.com/o/bg-desktop.png?alt=media&token=4518b459-3e0e-40f6-88ec-ef510fd42bca);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  main .main_fylo-container {
    width: 45%;
    max-width: 320px;
    margin: 0 10px;
  }

  main .main-datastorage-container {
    top: 20px;
    width: 45%;
    max-width: 600px;
    margin: 0 10px;
    padding: 40px;
  }

  .datastorage-info {
    text-align: start;
  }

  .free-datastorage-info {
    top: -35px;
    right: 10%;
    border-radius: 10px 10px 0 10px;
  }
  .arrow {
    position: absolute;
    right: 0px;
    bottom: -30px;
    width: 30px;
    height: 30px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%);
    background-color: white;
  }
}

@media screen and (min-width: 1120px) {
  .free-datastorage-info {
    right: 9%;
    border-radius: 10px 10px 0 10px;
  }
}

@media screen and (min-width: 1240px) {
  main .main_fylo-container {
    margin-bottom: 100px;
  }

  main .main-datastorage-container {
    margin-bottom: 100px;
  }
}
